.ju-dialog-wrap {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: none;
}

.ju-dialog-shade {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    opacity: .5;
    filter: alpha(opacity=50);
    background: #000;
}

.ju-dialog-scroll-el {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    overflow: auto;
}

.ju-dialog {
    position: absolute;
    right: 0;
    left: 0;
    margin: auto;
    border-radius: 2px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, .3);
    box-sizing: border-box;
    background: #ffffff;
}

.ju-dialog-close {
    position: absolute;
    top: 0;
    right: 0;
    left: auto;
    width: 55px;
    text-align: center;
    line-height: 55px;
    cursor: pointer;
    color: #60606f;
}

.ju-dialog-close .fa {
    line-height: 1;
}

.ju-dialog-close:hover {
    color: #0A0C1E;
}


.ju-dialog-header,
.ju-dialog-footer {
    padding: 16px 24px;
    position: relative;
}

.ju-dialog-body {
    padding: 24px;
    position: relative;
}

.ju-dialog-header {
    border-bottom: 1px solid #f0f0f0;
}

.ju-dialog-footer {
    border-top: 1px solid #f0f0f0;
}